table.datagrid {
	width: 900px;
	margin: 0 auto;
	border-collapse: collapse;
}

table.datagrid th {
	text-shadow: 0 1px 0 #4b433e;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	background: #282321;
}

table.datagrid td {
	color: #161312;
	text-shadow: 0 1px 0 #4b433e;
	height: 32px;
	padding-left: 10px;
	border-width: 1px;
	border-style: solid;
}

table.datagrid td img {
	width: 24px;
	height: 24px;
	margin-left: 5px;
	/*设置鼠标样式*/
	cursor: pointer;
}