form {
	/*设置宽度*/
	width: 240px;
	/*设置高度*/
	height: 150px;
	/*绝对定位居中*/
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -120px;
	margin-top: -75px;
}

input {
	/*设置宽度*/
	width: 100%;
	/*设置高度*/
	height: 40px;
	/*设置上外边距*/
	margin-top: 10px;
	/*设置左内边距*/
	padding-left: 20px;
	/*设置文本的尺寸*/
	font-size: 18px;
}

input:first-child {
	/*设置上外边距*/
	margin-top: 0px;
}

button {
	/*设置宽度*/
	width: 100%;
	/*设置高度*/
	height: 50px;
	/*设置上外边距*/
	margin-top: 10px;
	/*文字大小*/
	font-size: 18px;
	/*文字粗体*/
	font-weight: bold;
}