* {
	/*设置内外边距*/
	padding: 0px;
	margin: 0px;
	/*元素的任何内边距和边框都将在已设定的宽度和高度内进行绘制*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/*设置背景颜色*/
	background: #362f2d;
}